{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "babel-plugin-root-import",
            {
                "paths": [
                    {
                        "rootPathSuffix": "./src",
                        "rootPathPrefix": "@/"
                    }
                ]
            }
        ]
    ],
	"ignore": ["node_modules","bower_components"]
}